.crop img { /*crops the div="crop" sections. have to use img*/
    width: 25%;
    height: 25%;
    text-align: left;
    font-family: arial;
    font-style: normal;
    font-weight: 400;
}

.portfoliotitle { /* div class names can only be 1 word*/
    text-align: left; /*text-align only works on block elements*/
    margin-left: 90px;
    font-family: arial;
    font-style: italic;
    font-weight: 800;
}
/*
h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}
this gets priority even if it changes below*/
.header {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
    text-align: left;
    font-family: helvetica;
    font-style: normal;
    font-weight: 400;
}

footer {
    font-family: helvetica;
    font-style: normal;
    font-weight: 400;
}